<table>
			<tr>
				<th>Team</th>
				<th>Run Date</th>
				<th>Academic Year</th>
				<th>Results</th>
				<th>Created</th>
				<th>Updated</th>
				<th>Virtual</th>
      			</tr>
      		<% @results.each_index do |idx| result=@results[idx] %> 
     			<tr	 class="<%= (idx.modulo(2) != 0)?'even':'odd' %>">
				<td><%=result.team.to_s() %></td>
				<td><%=result.run_date.strftime("%m/%d/%Y at %I:%M%p") %></td>
				<td><%=result.academic_year.to_s() %></td>
				<td><%=if(result.outcome == 1)
					"failed"
					else
			    		"passed"
					end %>
		  		</td>
				<td><%=result.created_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
				<td><%=result.updated_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
				<td><%=result.virtual.to_s() %></td>
      			</tr>
      		<% end %>
</table>
<table>
	<tr>
		<th>Result</th>
		<th>Run Date</th>
		<th>Created</th>
		<th>Updated</th>
		<th>File Name</th>
		<th>Clock Frequency</th>
		<th>Design Name</th>
	</tr>
	<% @designs.each_index do |idx| design=@designs[idx] %> 
	<tr class="<%= (idx.modulo(2) != 0)?'even':'odd' %>">
		<td><%= if(design.outcome == 1)
				"failed"
				else
				"passed"
				end %></td>
		<td><%=design.run_date.strftime("%m/%d/%Y at %I:%M%p") %></td>
		<td><%=design.created_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
		<td><%=design.updated_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
		<td><%=design.file_name %></td>
		<td><%=design.clock_freq%></td>
		<td><%=design.design_name %></td>
	</tr>
	<% end %>
</table>
